:root{
    --font-family-text: 'Merienda One', cursive;
    --font-forName: 'Rubik Distressed', cursive;
    --font-forTitles: 'Twinkle Star', cursive;
    --main-color: rgb(88 49 0 / 50%);
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--main-color);
    padding: 1% 10%;
    height: 10%;
}

header span{
    font-family: var(--font-forName);
    font-size: 200%;

}
header p{
    font-family: var(--font-forTitles);
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}
.myname{
    display: inline;
    cursor: pointer;
    animation: myname 8s ease 1s 1 normal none;
    
}

@keyframes myname {
    from{
        margin-left: 70%;
    }
    to{
        margin-left: 0%;
    }
}
.contain{
    margin-top:10%;
    display: flex;
    justify-content: space-between;
}
.contain .img{
    width: 38%;
}
img{
    height: 75%;
    width: 75%;
    margin-left: 25%;
    border-radius: 25px;
    animation: myimg 8s ease 1s 1 normal none;;
}
@keyframes myimg {
    0%{
        margin-left: 100%;
    }
    50%{
        margin-left: 0%;
    }
    75%{
        margin-left: 50%;
    }
}
.contain .info{
    width: 60%;
}
.title{
    width: 100%;
    text-align: center;
    font-family: var(--font-forTitles);
    font-size: 200%;
}
.info p{
    color: rgba(0, 0, 0, 0.7);
    padding: 5% 10%;
    font-family: var(--font-family-text);
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 200%;
}
.ducational p{
    color: var(--main-color);
}
.ducational h4{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: var(--font-forTitles);
    font-size: 125%;
    color: rgb(47, 24, 1);
}
@media (max-width:992px) {
    .contain{
        display: block;
    }
    .contain .img{
        width: 100%;
        height: 350px;
    }
    img{
        margin-top: 12.5%;
        height: 75%;
        margin-left: 37.5%;
        width: 25%;
    }
    .contain .info{
        width: 100%;
        margin-top: 10%;
    }
}
@media (max-width:541px) {
    img{
        margin-left: 32.5%;
        width: 35%;
        margin-top: 25%;
        height: 50%;
    }
}
.icons{
    display: flex;
    justify-content: space-around;
}
a{
    color: var(--main-color);
    font-size: 35px;
}
a:hover{
    color: rgb(62, 27, 2);
}
@media (max-width:992px) {
    .icons{
        margin-bottom: 5%;
    }
}
footer{
    padding: 2% 10%;
    background-color: var(--main-color);
}
footer p{
    font-family: var(--font-family-text);
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);

}
footer span{
    margin: 7% 5%;
    font-family: var(--font-family-text);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
